<a href="https://colab.research.google.com/github/sagsshakya/Coding-Problems/blob/master/Problems%20/%20Notebook%20/Practice_Questions_Conduira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Questions for TCS from Conduira:
- https://www.conduiraonline.com/index.php/detail/1833-tcs-ninja-exam-advanced-coding-questions

# Question 1:
## Armstrong numbers between two intervals:
- Write a program to display Armstrong numbers between two intervals.

- Input Format:

The first line consists of an integer first interval.

The second line consists of an integer second interval.

- Output Format:

The output is the Armstrong numbers between two intervals with each number on a new line.

Sample Input:

    1

    1000

Sample Output:

    1

    153

    370

    371

    407

### Getting the input.

In [ ]:
low, high = int(input()), int(input())

1
1000

In [ ]:
def number_of_digits(n):
    '''Counts the number of digits in a number.'''
    if n == 0:
        return 1

    q = n
    count = 0
    while (q != 0):
        r = q % 10
        q = q - r
        q = int(q/10)
        count += 1
    return count

def is_armstrong(x):
    '''Checks whether a given number is armstrong or not.'''
    if (x == 1):
        return True
    elif (x != 1) and (number_of_digits(x) == 1):
        return False
    
    n = number_of_digits(int(x))
    agg = 0
    q = x
    
    while (q != 0):
        r = q % 10
        q = q - r
        q = int(q/10)
        agg += r**n
    return (agg == x)

def count_armstrong(low, high):
    '''Counts the nunber of armstrong numbers in a given range.'''
    assert(high>low)
    count = 0
    for ii in range(low, high + 1):
        if is_armstrong(ii):
            count += 1
            print(ii)
    print('Count: ', count)

In [ ]:
count_armstrong(low, high)

1
153
370
371
407
Count:  5

<hr>

# Question 2:
### Convert a Roman number to a decimal number.
- Write a program to convert a Roman number to a decimal number.

Input format:

    Take a Roman number.

Output format:

    It will print the decimal number.

Sample input:

    XVII

Sample output:

    17

# Getting input:

In [ ]:
roman = input().strip().upper()

MMMDXLIX

# Using Stack:

In [ ]:
class Stack:
    def __init__(self):
        self.data = []

    def push(self, value):
        self.data.append(value)

    def pop(self):
        return self.data.pop()

    def __len__(self):
        return len(self.data)

    def insert_list(self, data_list):
        for ii in data_list:
            self.push(ii)

    def is_empty(self):
        return self.data == []

    def print(self):
        return self.data

In [ ]:
def roman_to_numeral(roman):
    s = Stack()

    def associate(alphabet, number):
        return (alphabet, number)

    mapper = dict(map(associate, ['I', 'V', 'X', 'L', 'C', 'D', 'M'], [1, 5, 10, 50, 100, 500, 1000]))

    s.insert_list([mapper[alpha.upper()] for alpha in roman])

    curr = s.pop()
    sum = curr

    while s.is_empty() == False:
        next = s.pop()

        if next < curr:
            sum -= next
            curr = next

        else:
            sum += next
            curr = next

    return (sum)

In [ ]:
roman_to_numeral('XXVI')

26

In [ ]:
roman_to_numeral('MM')

2000

In [ ]:
roman_to_numeral('MIM')

1999

In [ ]:
roman_to_numeral('Xix')

19

# Conversion of Decimal to Roman.
- From the table, find the highest decimal value 't' (say) which is less than or equal to your input value 'x' (say).
- result = Roman(t)

- x = x - t 
- Repeat till you get x = 0.

In [110]:
def decimal_to_roman(x):
    '''x is a decimal number.'''
    DECIMAL = [1,4,5,9,10,40,50,90,100,400,500,900,1000]
    ROMAN = 'I IV V IX X XL L XC C CD D CM M'.split()
    # Make a hash table.
    mapper = dict(zip(DECIMAL, ROMAN))

    def get_lower_value(x):
        assert(type(x) == int)

        if x>=DECIMAL[-1]:
            return DECIMAL[-1]
        
        ii = 0
        jj = 1

        for _ in range(len(DECIMAL) - 1):
            if (DECIMAL[ii] <= x) and (x < DECIMAL[jj]):
                return DECIMAL[ii]
            ii += 1
            jj += 1

    def get_standard_roman(d):
        assert(d in DECIMAL)
        return mapper[d]

    # Implement algorithm.
    result = ''
    while x != 0:
        t = get_lower_value(x)
        result += get_standard_roman(t)
        x -= t 
    return (result)

In [111]:
# Testing.
dec = [131,665,684,31,64,10,1310,2016]
for ii in dec:
    print(ii, decimal_to_roman(ii))

131 CXXXI
665 DCLXV
684 DCLXXXIV
31 XXXI
64 LXIV
10 X
1310 MCCCX
2016 MMXVI

<hr>

# Question 3:

### Longest Progressive Sequence:
- Write a program to find the longest progressive sequence arranged in ascending order.

Input Format:

    The first line contains a length of the sequence

    The second line contains sequence delimited by white spaces

Output Format:

    Longest progressive sequence.

Example :

    1 1 2 2 is a progressive sequence but not 1 2 1

Sample Input:

    5

    1 2 1 2 2

Sample Output:

    1 2 2

In [ ]:
arr = [1,2,3,2,4,6,6,3,2,5,7]

In [ ]:
class Node:
    def __init__(self, data = None, next = None):
        self.data = data
        self.next = next

class LinkedList:
    def __init__(self):
        self.head = None

    def is_empty(self):
        return self.head is None

    def add_at_beginning(self, value):
        nxt = self.head
        node = Node(data = value, next = nxt)
        self.head = node

    def print(self):
        itr = ''
        curr = self.head
        while curr:
            print(str(curr.data) + ' -> ', end = '')
            curr = curr.next

    def insert_list(self, data_list):
        '''Inserts list in a reversed order.'''
        for ele in data_list:
            self.add_at_beginning(ele)

### Adding elements in the linked list but in reversed direction.

In [ ]:
ll = LinkedList()
ll.insert_list(arr)
ll.print()

7 -> 5 -> 2 -> 3 -> 6 -> 6 -> 4 -> 2 -> 3 -> 2 -> 1 ->

In [ ]:
def longest_progressive_sequence(arr):
    if len(arr) == 0:
        raise Exception('Array is empty.')
    if len(arr) == 1:
        return 1

    ll = LinkedList()                           # Creating a LikedList object.
    ll.insert_list(arr)                         # Inserting the elements of the array in the linked list in a reversed fashion.

    curr = ll.head                              # curr is one term less than itr.
    itr = curr.next
    result = 0                                  # the max of the length of the progressive sequences in the array. 
    count = 1                                   # Counter is set to 1 to balance the length.
    tracker = ''
    
    while itr: 
        print(str(curr.data) + ' -> ', end = '')# Breaking point is when itr reaches None and curr reaches the last element of the LinkedList.
        if curr.data >= itr.data:               # Decreasing condition.
            count += 1                          # Keeping track of the length.
            result = max(result, count)         # Updating the results if a better one is found compared to the previous.
            curr = itr                          # Move a step forward. curr --> itr and itr --> itr.next.
            itr = itr.next
        else:
            count = 1                           # If any larger element is found, reset the counter to 1.
            curr = itr                          # Move a step forward and go to the top of the loop to check the conditions.
            itr = itr.next
            print()
    print()
    return result                               # Answer.

In [ ]:
longest_progressive_sequence(arr)

7 -> 5 -> 2 ->
3 ->
6 -> 6 -> 4 -> 2 ->
3 -> 2 ->

4

# Getting inputs.

In [ ]:
n = int(input())        # Array size.
arr1 = list(map(int, input().rstrip().split()))

5
1 2 1 2 2

In [ ]:
longest_progressive_sequence(arr)

7 -> 5 -> 2 ->
3 ->
6 -> 6 -> 4 -> 2 ->
3 -> 2 ->

4

In [ ]:
longest_progressive_sequence([1,2,1,2,1])

1 ->
2 -> 1 ->
2 ->

2