# Taxation Woes Problem.
- Prepared by: <a href = 'https://github.com/sagsshakya'> Sagun Shakya </a>
- MSc. Data Science
- GITAM Institute of Science, Visakhapatnam.
- Email: sags.shakya@gmail.com

<p>
In a country, there are N slabs for Income tax which are common for all age groups and genders. As an income tax officer, investigating a case, you have the amount of tax paid by each employee of an organization.

Considering the income tax slabs and rebates offered, you need to find the total amount paid by the organization in salaries to the employees to match it with the amount reported by the organization in its filed Income tax Returns.

Information regarding the income tax slabs, rebate amount and the income tax paid by each employee of the organization will be provided.

Rebate amount is subtracted from the total salary of each employee. Tax is calculated on the remaining amount. You need to calculate the sum of total salary paid to the employees in that year.

<b>Constraints:</b><br>
- Number of tax slabs = Number of percentage on tax slabs
- 0<= Rebate, tax paid, slab <=1000000<br>
<b>Input Format</b>
- First Line will provide the Amount in each slab, separate by space (' ')
- Second Line will provide the percentage of tax applied on each slab. Number of values in this line will be same as that in line one, separate by space (' ')
- Third Line will provide the Rebate considered
- Fourth line will provide the tax paid by each employee, separate by space (' ')<br>
<b>Output</b>
- Total Salary paid by the organization to its employees
Example Input
<br>300000 600000 900000
<br>10 20 30
<br>100000
<br>90000 150000 210000 300000
<br>Output
5300000
<br>Explanation
<br>Slabs and tax percentage indicate that for salary:
<br>
Between 0 - 300000, tax is 0%
Between 300001 - 600000, tax is 10%
Between 600001 - 900000, tax is 20%
Greater than 900001, tax is 30%
First, we exclude the rebate from the salary of each employee. This will be the taxable component of salary. Upon, taxable salary apply the slab and tax percentage logic. Upon computation, one finds that employees are paid amounts 1000000, 1200000, 1400000, 1700000 respectively, as salaries. So, the total salary paid to all employees in that year will be 5300000.
</p>

In [2]:
'''slab = [300000,  600000, 900000]
tax_percent = [10,20,30]
rebate_amount = 100000
tax_paid = [90000, 150000, 210000, 300000]'''

'slab = [300000,  600000, 900000]\ntax_percent = [10,20,30]\nrebate_amount = 100000\ntax_paid = [90000, 150000, 210000, 300000]'

In [16]:
# slabs values

slab = list(map(int,input().split()))

300000 600000 900000

In [17]:
# percentage of each slab

tax_percent = list(map(int,input().split()))

10 20 30

In [18]:
# rebate_amount amount

rebate_amount = int(input())

100000

In [19]:
# tax payed by each employee

tax_paid = list(map(int,input().split()))

90000 150000 210000 300000

#### Converting tax_percent to decimal.

In [23]:
tax_percent = [0] + tax_percent
tax_percent = [percent/100 for percent in tax_percent]
tax_percent

[0.0, 0.1, 0.2, 0.3]

#### Gap between the slabs.

In [24]:
slab_difference = [slab[0]] + [slab[ii + 1] - slab[ii] for ii in range(len(slab) - 1)]
slab_difference

[300000, 300000, 300000]

#### The tax amount for each tax slab: (upper - lower) * tax_percent.

In [36]:
slab_block_tax = [int(tax_percent[ii] * slab_difference[ii]) for ii in range(len(slab_difference))]
slab_block_tax

[0, 30000, 60000]

#### Cumulative sum of the tax blocks.

In [35]:
cumulative_sum = [0] + [sum(slab_block_tax[:ii]) for ii in range(2, len(slab_block_tax)+1)]
cumulative_sum

[0, 30000, 90000]

## Main Calculation of the Salary.

In [30]:
def find_salary(example_tax):

    for ii in range(len(cumulative_sum)):
        if example_tax > cumulative_sum[-1]:
            x = ((example_tax - cumulative_sum[-1])/ tax_percent[-1]) 
            # ii = len(cumulative_sum) - 1
            taxable_amount = sum(slab_difference[:]) + x
            salary = taxable_amount + rebate_amount
            break

        if example_tax <= cumulative_sum[ii]:
            x = ((example_tax - cumulative_sum[ii-1])/ tax_percent[ii]) 
            taxable_amount = sum(slab_difference[:ii]) + x
            salary = taxable_amount + rebate_amount
            break
    return int(salary)

#### Sum of the salaries for each employees.

In [33]:
answer_sum = 0
for ii in tax_paid:
    # print('For tax = ', ii, 'Salary = ', find_salary(ii))
    answer_sum += find_salary(ii)

In [37]:
 print('Total Salary  for employers in the organization: ', answer_sum)

Total Salary  for employers in the organization:  5300000

# The End.